
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="toolbar">
      <ion-col>
        <ion-title>
          <h1>Pagina di Registrazione</h1>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-row class="main-content">
  <ion-col class="main-content-col">
    <ion-row class="max-width-row">
      <ion-col class="flex-center">

        <ion-list class="list">
          <ion-row>
            <ion-col class="flex-center">
              <ion-icon class="icon" name="people-outline"></ion-icon>
              Nome
            </ion-col>
          </ion-row>
          <ion-item class="ion-align-self-center">
            <ion-label>Username</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item class="ion-align-self-center">
            <ion-label>Password</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-button class="flex-center" color="success">Login</ion-button>
          <ion-text class="flex-center" color="white">
            <h3>OR</h3>
          </ion-text>
          <ion-button class="flex-center" color="primary">Register</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
