
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="toolbar">
      <ion-col>
        <ion-title>
          <h1>Pagina di Registrazione</h1>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-row class="loginmain-content">
  <ion-col class="loginmain-content-col">
    <ion-row class="loginmax-width-row">
      <ion-col class="flex-center">

        <ion-list class="loginlist">
          <ion-item class="ion-align-self-center">
            <ion-label>Nome</ion-label>
            <ion-input [value]="user.name"></ion-input>
          </ion-item>
          <ion-item class="ion-align-self-center">
            <ion-label>Cognome</ion-label>
            <ion-input [value]="user.surname"></ion-input>
          </ion-item>
          <ion-item class="ion-align-self-center">
            <ion-label>Email</ion-label>
            <ion-input [value]="user.email"></ion-input>
          </ion-item>
          <ion-item class="ion-align-self-center">
            <ion-label>Password</ion-label>
            <ion-input [value]="user.password"></ion-input>
          </ion-item>
          <ion-button class="loginflex-center" color="primary">Register</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
